.heading{
    color:blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.paragraph{
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}